html,
body {
    height: 100%;
    margin: 0;
    background-color: #222222;
    font-family: "Open Sans", sans-serif;
}

.all {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.all .header {
    flex: 0 1 100px;
}

.all .extension {
    flex: 1 1 auto;
}

.all .contact-title {
    flex: 0 1 100px;
}

.header{
    background-color: rgb(52, 52, 52);
    padding: 0 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header-txt{
    text-decoration: none;
    font-size: 26px;
    font-weight: 600;
    color: #fff;

    transition: color 0.3s linear;
}

#header-txt:hover{
    color: rgb(180, 229, 21);
}

.header-title{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.contact{
    color: #fff;
    font-size: 28px;
    font-weight: 600;
    text-decoration: none;
    padding-left: 160px;

    transition: color 0.3s linear;
}

.contact-title{
    background-color: rgb(52, 52, 52);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact:hover{
    color: rgb(180, 229, 21);
}

.contact-right{
    padding-right: 160px;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}


