{% extends data.main_template %}{% block extension %}
<div class="container">
    <div class="info">
        <div class="info-header">
            <h1>О нас</h1>
        </div>
        <div class="info-content">
            <div class="info-content-block">
                <h1>Кто мы и что мы?</h1>
                <a>
                    Картинная галерея «...» с февраля 2024 года является официальным партнером всероссийской
                    площадки продажи предметов искусства ArtGalleryKRD В июне 2018 года в экспозиционном зале
                    галереи были собраны работы молодых художников со всей России. Именно «...» выпала честь
                    стать местом проведения первого сезона проекта «KubSTU Art Park». Благодаря деятельности
                    галереи в событии принимали участие таланты прямиком со всех точек России.
                </a>
            </div>

            <div class="info-content-block">
                <h1>Адрес и режим работы</h1>
                <a>350020, Россия, Краснодар, Красная 135. Мы открыты ежедневно, кроме воскресенья, с 8:00 до 21:00.</a>
            </div>

            <div class="info-content-block">
                <h1>Как добраться?</h1>
                <a>
                    Галерея находится в центре города Краснодар, на пересечении улиц “Хакурате” и “Красная”. А именно на улице Красная 135
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
