<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="1st-style.css">
    <link rel="shortcut icon" href='data:image/svg+xml,<svg%20xmlns="http://www.w3.org/2000/svg"></svg>' />
    <title>Галерея</title>
</head>
<body>
    <div class="header">
        <div class="container">

            <div class="header-title">
                <a id="header-txt" href="#">
                    Name
                </a>

                <a id="header-txt" href="#">
                    Info About
                </a>
            </div>
        </div>
    </div>

    <div class="title">

        <div class="title-name-first">
            <a class="name-first" href="#">Абстракционизм</a>                
        </div>
        
        <div class="body-title">
            <div class="scroll">
                <div class="scrl">
                    <img class="scrl-img" src="image1.png" alt="">
                    <img class="scrl-img" src="image2.png" alt="">
                    <img class="scrl-img" src="image3.png" alt="">
                    <img class="scrl-img" src="image4.png" alt="">
                    <img class="scrl-img" src="image5.png" alt="">
                    <img class="scrl-img" src="image6.png" alt="">
                    <img class="scrl-img" src="image7.png" alt=""> 
                </div>
                
            </div>
    
            <script src="app.js"></script>
        </div>
    </div>

    <div class="contact-title">
        <a class="contact" href="">Contact</a>
    </div>
</body>
</html>