<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ data.css.style }}">
    <link rel="stylesheet" type="text/css" href="../static/main.css"/>
    <link rel="shortcut icon" href='data:image/svg+xml,<svg%20xmlns="http://www.w3.org/2000/svg"></svg>' />
    <title>{{ data.title }}</title>
</head>
<body>
<div class="all">
    <div class="header">
        <div class="header-title">
            <a id="header-txt" href="#">
                Name
            </a>

            <a id="header-txt" href="#">
                Info About
            </a>
        </div>
    </div>
    <div class="extension">
        {% block extension %}{% endblock %}
    </div>
    <div class="contact-title">
        <a class="contact" href="">Contact</a>

        <div class="contact-right">
            Number: 8(800)-888-88-88 <br>
            WhatsApp: 8(888)-800-80-80 <br>
            Telegram: @ArtGalleryKRD <br>
            Email: Art-Gallery@krd.ru
        </div>
    </div>
</div>
</body>
</html>